.item_id{
    text-align: center;
    vertical-align: middle;

}

.item_title{
    text-align: left;
    vertical-align: middle;
    padding: auto 0 !important;
}

.item_body{
    text-align: left;
    vertical-align: middle;
}

