.group{


}

.input {
    background-color: #5A5C66;
    color: white;

    padding: 16px 26px;
    font-size: 14px;
    border-radius: 0px;
    width: 631px;
    flex: 1/2 1/4 auto;

};

.input::placeholder {
    color: #B2B7BF;

}

.button{
    background-color: #5A5C66;
    border-radius: 0px;
}

.button svg path{
    fill: white;
}