*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.App {
  padding-top: 23px;
  text-align: center;
}

@font-face {
  font-family: Roboto;
  src: url('./assets/font/Roboto-Regular.ttf') format("opentype"),
  url('./assets/font/Roboto-Italic.ttf') format("opentype")
}

